.addSection {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 1.1rem;
    color: #232323;
    padding: 10px 40px;
    border-radius: 30px;
    transition: 0.2s all;
}

.addSection:hover {
    transform: scale(1.05);
}

.control_month_btns {
    color: #f2f2f2;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 8px;
}

.control_month_btns i {
    font-size: 1.5rem;
    cursor: pointer;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    background: #dcc9b6;
    border-radius: 0.2rem;
    width: 100%;
    padding-bottom: 1rem;
    color: #212529;
    margin-bottom: 0;
}

.table tbody tr.active,
.table tbody tr:hover {
    background-color: rgba(0, 0, 0, .075);
}

.table th.itemSticky:first-child,
.table td.itemSticky:first-child {
    position: sticky;
    left: 0;
    background-color: #ddb892;
    min-width: 100px;
    text-align: center;
    vertical-align: middle;
    color: #333;
}

.table thead tr:first-child {
    background: #727d71;
    color: #fff;
}

.table td {
    white-space: nowrap;
}

.table td,
.table th {
    padding: 0.75rem 0.5rem;
    min-width: 100px;
    max-width: 100px;
    border-top: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    text-align: center;
}

table input,
table select {
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.control_item_btns {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.control_item_btns button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #f2f2f2;
    color: #232323;
    font-size: 1.rem;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_item_btns button:hover {
    transform: scale(1.1);
}

.totalPrice {
    color: #f2f2f2;
    text-align: right;
    font-size: 1.1rem;
}

.section {
    margin-bottom: 50px;
}

.itemName {
    width: 100%;
    background-color: #ddb892;
    padding: 10px;
    text-align: center;
}

.itemName input {
    background-color: transparent;
    font-size: 1.1rem;
    text-align: center;
}