.form_card {
    border-radius: 20px;
    padding: 45px 20px 20px;
    position: relative;
    margin-bottom: 35px;
    background-color: #3331;
}

.form_title {
    font-size: 1.2rem;
    color: #fff;
    background-color: #721c24;
    padding: 5px 15px;
    box-shadow: 1px 1px 2px #0002;
    border-radius: 20px 20px 0 20px;
    position: absolute;
    top: -12px;
    left: -15px;
}

.form_content {
    display: flex;
    gap: 10px;
}

.form_content .form-control {
    flex: 2;
}

.main-btn {
    min-width: 100px;
    height: 50px;
}

table {
    width: auto;
    border-collapse: collapse;
    font-size: 16px;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

tbody tr:last-child>th:first-child {
    border-bottom-left-radius: 15px;
}

tbody tr:last-child>td:last-child {
    border-bottom-right-radius: 15px;
}

th,
td {
    padding: 16px 24px;
    text-align: left;
}

thead th {
    background-color: #333;
    color: #fff;
    width: 25%;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}

table .current {
    text-align: center;
    background-color: #721c24;
}