::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #fff;
}

::-webkit-scrollbar {
    height: 13px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #6d4c3ddd;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    background: #dcc9b6;
    border-radius: 0.2rem;
    width: 100%;
    padding-bottom: 1rem;
    color: #212529;
    margin-bottom: 0;
}

.table-hover tbody tr.active {
    background-color: rgba(0, 0, 0, .075);
}

.table th:first-child,
.table td:first-child {
    position: sticky;
    left: 0;
    background-color: #ddb892;
    min-width: 100px;
    text-align: center;
    color: #333;
}

.table thead tr:first-child {
    background: #727d71;
    color: #fff;
}

.table td {
    white-space: nowrap;
}

.table td,
.table th {
    padding: 0.75rem 0.5rem;
    min-width: 150px;
    max-width: 150px;
    border-top: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}

table input,
table select {
    width: 100%;
    background-color: transparent;
}

.control-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.control-btns button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #6d4c3d;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.3s all;
}

.control-btns button:hover {
    transform: scale(1.1);
}

.type_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.type_btns .fuChu::before {
    background-color: #721c24;
}

.title {
    text-align: center;
    font-size: 2rem;
}