.info_title {
    font-size: 1.3rem;
    background-color: #721c24;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 28px 28px 0 0;
}

.info_content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.customer_info_card {
    background-color: #3331;
    border-radius: 30px;
    border: 2px solid #333;
    margin-bottom: 30px;
}

.form_content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.main-btn {
    height: 50px;
}